<section id="feeds">
	<h1 class="subtitle">Notícias do Esquadrão de Aço</h1>
	<img id="loader-left" src="/assets/ajax-loader-red.gif"></img>
	<img id="loader-right" src="/assets/ajax-loader-blue.gif"></img>
	<section id="ec_bahia_feed">
	</section>
	<section id="globoesporte_feed">
	</section>
	<section id="globoesporte_thumbs"></section>
</section>