<div class="topbar formation expand">
	<div class="main_bar">
		<div class="next_match_info">
			<ul>
				<li>
					Próxima partida: <strong><%= next_match.day.to_s(:day) %></strong>
				</li>
				<li>
					<div class="match">
						<h3><%= "#{next_match.home.name} x #{next_match.away.name}" %></h3>
					</div>
				</li>
			</ul>	
		</div>
		<div class="logo"></div>
		<div class="user_actions">
			<%= link_to t(:listing_formations_to_next_match), formations_matches_path(Calendar.next_match), :class => "btn success" %>
		</div>	
	</div>
</div>