<div class="topbar formation expand">
	<div class="main_bar">
		<div class="next_match_info">
			<ul>
				<li>
					Próxima partida: <strong><%= next_match.day.to_s(:day) %></strong>
				</li>
				<li>
					<div class="match">
						<h3><%= "#{next_match.home.name} x #{next_match.away.name}" %></h3>
					</div>
				</li>
			</ul>	
		</div>
		<div class="logo"></div>	
	</div>
</div>