defaults: &defaults
  host: 127.0.0.1
  port: 27017

development:
  <<: *defaults
  database: ucoach_manager_development

test:
  <<: *defaults
  database: ucoach_manager_test

# set these environment variables on your prod server
production:
  <<: *defaults
  database: ENV['MONGOLAB_URI']
  username: selecaotricolor#<%= ENV['MONGO_USERNAME'] %>
  password: selecaotricolor#<%= ENV['MONGO_PASSWORD'] %>
