<center>
	<div class="next_match_info">
		<ul>
			<li>
				Próxima partida: <strong><%= next_match.day.to_s(:day) %></strong>
			</li>
			<li>
				<div class="jogo">
				    <div class="time">
						<%= image_tag("escudos/#{next_match.home.label}.png", :size => "45x45", :alt => "#{next_match.home.name}") %>
		            </div>
		            <div class="x">x</div>
		            <div class="time">
		            	<%= image_tag("escudos/#{next_match.away.label}.png", :size => "45x45", :alt => "#{next_match.away.name}") %>
		            </div>
		        </div>
				<div class="match">
					<h3><%= "#{next_match}" %></h3>
				</div>
			</li>
		</ul>
	</div>
</center>