<% content_for :title, "Tática Oficial" %>
<h1 class="subtitle">Tática Oficial</h1>
<%= form_tag Formation.new do |f| %>
	<div class="input">
		<%= select("match", "id", @matches.collect {|m| [ m, m.id ] }) %>			
  	</div>
<% end %>
<div class="new_formation_actions">
	<button id="send_button" name="button" class="btn danger send">Enviar</button>
</div>
<div class="droppable-area">
	<div id="soccerField" class="soccer-field-grass"></div>
	<% if user_signed_in? %>	
	<div id="player">
		<div id="tabs">
			<ul>
				<li><a href="#goalkeepers">Goleiros</a></li>
				<li><a href="#right_back">Laterais Direitos</a></li>
				<li><a href="#defender">Zagueiros</a></li>
				<li><a href="#left_back">Laterais Esquerdos</a></li>
				<li><a href="#midfield_defense">Volantes</a></li>
				<li><a href="#midfield">Meias</a></li>
				<li><a href="#forwards">Atacantes</a></li>
			</ul>
			<div id="goalkeepers" >
			</div>
			<div id="right_back" >
			</div>
			<div id="defender" >
			</div>
			<div id="left_back" >
			</div>
			<div id="midfield_defense" >
			</div>
			<div id="midfield" >
			</div>
			<div id="forwards" >
			</div>
		</div>
	</div>
	<% end %>
	<div id="slot"></div>
	<div id="matrix"></div>
</div>

<%= content_for :javascript do %>
$( init_soccer_field_to_first_team );

$(function() {
	$( "#tabs").tabs();
});

$('#send_button').click(function() {
	if (correctPlayers == 10 && correctGoalKeeper == 1) {
		var json = convertMatrixModelToJson();
		desableSenderButton();			
		$('#send_button').html('Enviando...');
		$.ajax({
	  			url:          "/first_teams?match_id=" + $('#match_id').val(),
				dataType:     "json",
				type:         "POST",
				contentType:  "application/json",
				data:         json,
				complete: function() {
					$('#send_button').addClass('success');
					$('#send_button').html('Escalação Enviada!');
				}
		});
	} else {
		cSimpleAlert('Selecione os 11 jogadores!');
	}		  	
});	
<% end %>