<div class="facebook_plugins comment">
	<iframe 
		src="http://www.facebook.com/plugins/comments.php?href=<%= current_uri %>" 
		scrolling="no" 
		frameborder="0" 
		style="border-width: initial; border-color: initial; overflow-x: hidden; overflow-y: hidden; width: 420px; border-width: initial; border-color: initial; border-width: initial; border-color: initial; height: 568px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; border-image: initial;" 
		allowTransparency="true"></iframe> 
</div>