<div class="facebook_plugins like">
	<iframe src="https://www.facebook.com/plugins/like.php?href=<%= current_uri %>"
	        scrolling="no" frameborder="0"
	        style="border:none; width:450px; height:68px">
	</iframe>
</div>