<div class="call-up">
	<table>
	<% @players_positions.each do |position| %>
	  	<tr>
			<td class="position"><%= position.acronym %></td>
		    <td><%= position.player.name %></td>
		</tr>
	<% end %>
	</table>
</div>