<%= form_tag @formation do |f| %>
	<%= text_field_tag :player_name, nil, :placeholder => "Digite o nome do Jogador" %>
<% end %>

<table id="player_list" class="zebra-striped">
  <tr>
    <th>Posição</th>
  </tr>

<% @player.positions.each do |position| %>
  <tr>
    <td><%= link_to position.try(:position_mapper).description, :action => :show, :id => position.formation  %></td>
  </tr>
<% end %>
</table>