
<p><strong>Política de Privacidade</strong></p>
<ul>
	<li>
		<p><strong>Cadastramento</strong></p>

		<p>As informações fornecidas pelos usuários estão
		protegidas pela nossa política de privacidade. Não poderão ser
		repassadas, cedidas e/ou utilizadas por terceiros, comercial ou
		gratuitamente.</p>
	</li>
	<li>
		<p><strong>Usuários em geral</strong></p>

		<p>O Usuário deve mostrar a devida consideração pela privacidade dos demais, o que inclui não citar outros sem permissão.</p>
	</li>
</ul>


<p>&nbsp;</p>

<p><strong>Termo de uso</strong></p>
<ul>
	<li>
		<p><strong>Integração com Facebook</strong></p>

		<p>Você é proprietário de todo o conteúdo e informações que publica no Facebook, e você pode controlar como eles serão compartilhados por meio das suas configurações de <a href="http://www.facebook.com/privacy/">privacidade</a> e <a href="http://www.facebook.com/editapps.php">aplicativos</a>. Além disso, nós não nos responsabilizamos por qualquer conteúdo proveniente do facebook.</p>
	</li>
</ul>
