.jogo.center {
	position: relative;
	font-size: 32px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.jogo {
	position: relative;
	font-size: 12px;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 12%;
}

#creator-info ul li.share {
	width: 200px;
}

#creator-info ul li.jogo {
	font-size: 13px;
	width: 120px;
	height: 45px;
	margin-left: 48px;
}

#creator-info ul div.time.home, #creator-info ul div.time.away {
	font-size: 13px;
	text-align: left;
	margin-left: 0px;
	width: 45px;
}

#creator-info ul div.x {
	margin-bottom: 10px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.time {
	height: 45px;
	width: 350px;
}

.time.home {
	text-align: right;
}

.time.away {
	text-align: left;
}

.time, .x {
	float: left;
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
}

.x {
	margin-bottom: 23px;
	margin-top: 23px;
	margin-left: 20px;
	margin-right: 20px;
}

.team-home-name, .team-away-name {
	line-height: 35px;
}

.x, .team-home-name, .team-away-name {
	color: #191970;
	text-shadow: 0 1px 1px #F6F6F6;
}

.match {
	margin: 0 auto;
	margin-left: 30px;
	float: left;
}

.match h3 {
	color: #0000CD;
	margin-right: 35px;
}

.actions {	
	margin: 0 auto;
	padding-bottom: 20px;
	position: relative;
}

.actions.large {	
	margin: 0 auto;
	margin-bottom: 5%;
	padding-bottom: 20px;
	position: relative;
}

section {
	height: 100%;
}

#formation-list-section .record-list {
	height: 493px;
	width: 46%;
}

#formation-list-section .record-list ul li {
	height: 48px;
}

.record-list {
	height: 493px;
	width: 46%;
	overflow: auto;
	overflow-x: hidden;
	margin-left: 7%;
	font-size: 10px;
	margin-bottom: 20px;
	
	background-color: none;
	border-color: #191970;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.record-list ul {
	list-style:none;
}

.record-list ul li {
	margin-left: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 70px;
	padding-top: 30px;
	cursor: pointer;
}

.record-list ul li:hover {
	background-color: #f5f5f5;
}

.record-list ul li.selected:hover, .record-list ul li.selected:hover p, .record-list ul li.selected:hover legend  {
	background-color: #1874CD;
}

.record-list ul li:active {
	background-color: #FFF;
}

.record-list ul li.selected, .record-list ul li.selected p, .record-list ul li.selected legend {
	background-color: #104E8B;
	color: #E8E8E8;
	text-shadow: 0 2px 0 #B22222;	
}

.record-list ul li img {
	margin-right: 10px;
	float: left;
	vertical-align: text-bottom;
}

.record-list ul li p {
	float: left;
	width: 110px;
	text-align: left;	
	text-shadow: 0 1px 0 #FFF;
}

/* Buttons */
.record-list ul li .button {
	cursor: pointer;
	position: relative;
	margin-left: 2%;
	width: 32px;
	height: 32px;
	padding-left: 32px;
	padding-bottom: 20px;
}
.record-list ul li .button.edit {
	background: transparent url(../../assets/icons/edit.png) no-repeat;
}

.record-list ul li .button.destroy {
	background: transparent url(../../assets/icons/destroy.png) no-repeat;
}

.record-list ul li .button.formations {
	width: 64px;
	height: 64px;
	padding-left: 64px;
	padding-bottom: 48px;
	background: transparent url(../../assets/icons/formation-match.png) no-repeat;
}

.button.new-formation {
	cursor: pointer;
	width: 64px;
	height: 64px;
	padding-left: 64px;
	padding-bottom: 48px;
	background: url(../../assets/icons/new-formation.png) no-repeat;
	background-position-x: 10px;
	-webkit-box-shadow: 0 3px 10px #888;
}

.button.match-calendar {
	cursor: pointer;
	width: 32px;
	height: 32px;
	padding-left: 64px;
	padding-bottom: 48px;
	background: url(../../assets/icons/match-calendar.png) no-repeat;
	background-position-x: 10px;
	-webkit-box-shadow: 0 3px 10px #888;
}

.button.formations {
	width: 64px;
	height: 64px;
	padding-left: 64px;
	padding-bottom: 48px;
	background: transparent url(../../assets/icons/formation-match.png) no-repeat;
	background-position-x: 10px;
}

.record-list ul li .button:hover {
	opacity: 0.8;
}

.record-list ul li .button.disabled:hover, .button.new-formation.disabled:hover {
	opacity: 0.5;
	cursor: default;
}

.creator, .match-day {
	font-size: 14px;
	color: #191970;
}

.scorer {
	font-size: 18px;
	color: #191970;
}

.tactical {
	font-size: 20px;
	color: #708090;
}

.comments {
	margin-top: 20px;
}

section .record-list {
	height: 100%;
	width: 86%;
}

#record-section .record-list ul li {
	cursor: default;
}

#record-section .record-list ul li .x {
	width: 2%;
}

.home-team, .away-team {
	font-size: 13px;
	color: #708090;
}

.home-team {
	width: 20%;
}

.away-team {
	width: 30%;
}

.home-team:hover img, .away-team:hover img {
	opacity: 0.7;
}

.record-list.formations ul li p.home-team, .record-list.formations ul li p.away-team {
	font-size: 13px;
}

.record-list.formations ul li fieldset {
	margin: 0px;
	padding: 0px;
}

.record-list.formations ul li fieldset legend {
	font-size: 12px;
	text-align: left;
	margin-left: 0px;
}

#score-rank {
	font-size: 48px;
	color: #B22222;
	text-shadow: 0 1px 0 #FFF;
	float: right;
}

.score-position {
	font-height: bold;
	font-size: 16px;
	color: #191970;
	text-shadow: 0 2px 0 #FFF;	
}

.score-position.gold {
	font-size: 48px;
	color: #DAA520;
	text-shadow: 0 2px 0 #FFD700;	
}

.score-position.silver {
	font-size: 32px;
	color: #BEBEBE;
	text-shadow: 0 2px 0 #000;
}

.score-position.bronze {
	font-size: 25px;
	color: #8B5A00;
	text-shadow: 0 1px 0 #CD8500;
}

.pills.actions.large a.button.new-formation {
	margin: 3px;	
}

.pills.match-calendars {
	padding-bottom: 5%;
}

.pills.match-calendars a.button.formations {
	-webkit-box-shadow: 0 3px 10px #888;
}