/*Configuracao das cores dos links - Inicio*/
/*Configuracao das cores dos links - Fim*/
p.pNormal{
	font-family:Verdana ;
	font-size:11px;
	color: #ffffff;
	line-height:15px;
}

.spanEnfaseA {
	background:red;
	color:#ffffff;
	padding-right:5px;
	padding-left:5px;
	}

#divMenu{

	position: relative;
	top:14px;
	left:510px;
	z-index:1
	
}
#divMenu  ul li {
/*list-style-position:inside; display:inline;*/
}

#head-content {
	margin: 0px auto;
	/*border:dotted #87CEFA 1px;*/
	width:100%;
	height:100%;
}

#center-content {
	/*margin: 0px auto;*/ /*centralizar na div pai*/
	margin-left: auto ; /*alinhar a direita da div pai*/
	/*border:dotted #98FB98 1px;*/
	width:600px;
	height:100%;
}

#base-content {
	margin: 0px auto;
	/*border:dotted #FF0000 1px;*/
	text-align:center;
	height:90%;
	width:90%;
}