body {
	font-family: 'Squada One', cursive;
	color: #191970;
	font-size: 18px;
}

span {
	font-size: 18px;
}

a {
	font-size: 20px;
}

table {
	border-collapse:collapse;border-spacing:0;
}

textarea {
	width: 70%;
	height: 400px;
}

#logo {
	width: 430px;
	float: left;
	height: 121px;
	margin-left: 19px;
	position: absolute;
	cursor: pointer;
}

h1.app-description {
	color: #B22222;
	text-shadow: 0 2px 0 #191970;
	text-transform: uppercase;
	z-index: 1;
	padding: 10px 40px 8px;
	font-size: 31px;
	font-weight: normal;
}

.title h1, .title h2, .title h3 {
	color: #191970;
	text-shadow: 0 2px 0 #0000CD;
	text-align: center;
	margin: 2%;
}

.welcome {
	text-align: center;
	position: relative;	
	font-size: 18px;
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	padding-top: 3%;
	padding-bottom: 2%;	
}

.welcome div.share {
	height: 43px;
	width: 956px;
	margin-top: -33px;
	position: relative;
}

.welcome.footer {
	padding-bottom: 15%;
}

.welcome h2 {
	color: #191970;
}

.welcome ul {	
	list-style: none;
}

.welcome li {
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
}

h1.subtitle {
    display: block;
	position: relative;
	background-color: #104E8B;
	color: #E8E8E8;
	text-shadow: 0 2px 0 #B22222;
	text-transform: uppercase;
	z-index: 1;
	padding: 10px 40px 8px;
	font-size: 20px;
	
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 80%;
}

.score-rules {
	font-size: 30px;
}

.rules {
	line-height: 36px;
	margin-top: 10px;
	padding-top: 3px;
	margin-left: 7%;
	height: 80%;
	width: 87%;
	background-color: 
	#FEFDED;
	margin-bottom: 2%;
}

.rules ul li {
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	margin: 20px;
}

.signed-in {
	margin-bottom: 3%;
}

.login-links {
	margin: 0 auto;
}

.score-check {
	margin-left: 3px;
}

.top-scorers {
	margin-top: 5%;
}

.top-scorers table {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 3%;
}

.zebra-striped tbody tr th {
	background-color: #191970;
	color: #FFF5EE;
	text-shadow: none;
	padding: 10px;
}

.zebra-striped tbody tr:hover th {
	background-color: #000080;
	color: #FFF5EE;
	text-shadow: none;
}

.zebra-striped tbody tr td {
	padding: 10px;
}

.zebra-striped tbody tr:nth-child(odd) td{
	background-color:#C1CDCD;
}

.zebra-striped tbody tr:nth-child(even) td{
	background-color:#E0EEEE;
}

.zebra-striped tbody tr:hover td{
	background-color:#f5f5f5;
}

.grass-footer {
	background-image: url(../../assets/grass-footer.png);	
}

.footer-info {
	margin-bottom: 130px;
}

.footer-info ul {
	list-style: none;
}

.footer-info ul li {
	display: inline; 
}

.version-info {
	color: #FFF;
}

.bahia {
	height: 45px;
	width: 45px;
	background-image: url(../../assets/bahia.png);	
	background-repeat: no-repeat;
	background-position: left;
	position: fixed;
	top: 0;
}

#calendar_day_3i, #calendar_day_4i, #calendar_day_5i {
	width: 55px;
}

#calendar_day_2i {
	width: 120px;
}

#calendar_day_1i {
	width: 70px;
}

.alert-message.info h3, .alert-message.info h2, .alert-message.info h1, .matchInfo {
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
}

.topbar.menu a {
	color: #FFF;
}

.topbar.menu {
	/*
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*/
	padding-bottom: 12px;
	background-color: #1E90FF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#191970), to(#1E90FF));
	background-image: -moz-linear-gradient(top, #191970, #1E90FF);
	background-image: -ms-linear-gradient(top, #191970, #1E90FF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191970), color-stop(100%, #1E90FF));
	background-image: -webkit-linear-gradient(top, #191970, #1E90FF);
	background-image: -o-linear-gradient(top, #191970, #1E90FF);
	background-image: linear-gradient(top, #191970, #1E90FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191970', endColorstr='#1E90FF', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #1E90FF #1E90FF #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	z-index: 4;
}

.topbar.formation {
	height: 60px;
	padding-top: 12px;
	margin-top: 40px;
	background-color: #1E90FF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#191970), to(#1E90FF));
	background-image: -moz-linear-gradient(top, #191970, #1E90FF);
	background-image: -ms-linear-gradient(top, #191970, #1E90FF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191970), color-stop(100%, #1E90FF));
	background-image: -webkit-linear-gradient(top, #191970, #1E90FF);
	background-image: -o-linear-gradient(top, #191970, #1E90FF);
	background-image: linear-gradient(top, #191970, #1E90FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191970', endColorstr='#1E90FF', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #1E90FF #1E90FF #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	z-index: 3;
}

.topbar.formation.expand {
	height: 78px;
}

.formation_info {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.formation_info li {
	float: none;
}

.main_bar {
	width: 1160px;
	height: 80px;
	float: left;
}

.next_match_info {	
	float: left;
	width: 270px;
	margin: 0px auto;	
}

.next_match_info li {
	margin-top: 8px;
}

.match h3 {
	margin-top: 0px;
	text-shadow: 0 1px 2px #000000;   	
}

.next_match_info li {
	color: #1E90FF;
	list-style: none;	
}

.user_actions {
	position: relative;
	color: #0000CD;
	text-shadow: 0 1px 0 #FFF;
	margin-top: 12px;
	margin-bottom: 10px;
	margin-right: 20px;
	float: right;
}

.topbar.formation ul {
	list-style: none;	
}

.topbar.formation li, .topbar.formation li h3, .topbar.formation li h1 {
	color: #FFF;
}

.user_info {	
	width: 390px;
	height: 86px;
	margin-left: 520px;
	padding-top: 20px;
}

.user_info ul li {
	list-style: none;
}

.user_info ul li img {
	margin-right: 10px;
}

.user_info ul li a {
	width: 260px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.user_info ul li a img.arrow {
	float: right;
	margin-right: 0px;
	margin-top: 20px;
}

#user_info_menu {
	font-size: 18px;
	font-weight: normal;
}

#user_config_menu.dropdown-menu {
	font-size: 16px;
	width: 100%;
	margin-left: 115px;
	margin-top: 15px;
}

#user_config_menu.dropdown-menu li {
	width: 100%;
	font-weight: normal;
}

.visible {
	display: block;
}

.foobar {
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	line-height: 1;
	width: 100%;
}


.foobar.shareActions { 
	background-color: #FFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFF), to(#1E90FF));
	background-image: -moz-linear-gradient(top, #FFF, #1E90FF);
	background-image: -ms-linear-gradient(top, #FFF, #1E90FF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #1E90FF));
	background-image: -webkit-linear-gradient(top, #FFF, #1E90FF);
	background-image: -o-linear-gradient(top, #FFF, #1E90FF);
	background-image: linear-gradient(top, #FFF, #1E90FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191970', endColorstr='#1E90FF', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #1E90FF #1E90FF #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	z-index: 4;
	width: 446px;
	left: 50%;
}

.btn.send {
	position:relative;
	width: 120px;
}

.formationSent {
	  position: absolute;
	  left:50%;
	  top:10%;
	  color: #404040;
	  background-color: #eedc94;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
	  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
	  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
	  background-image: linear-gradient(top, #fceec1, #eedc94);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  border-color: #eedc94 #eedc94 #e4c652;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  border-width: 1px;
	  border-style: solid;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.content {
	margin-top: 70px;
}

.facebook-button {
    color: white;
	text-decoration: none;
	display: block;
	width: 177px;
	background: url(../../assets/background-facebook.png) center center no-repeat;
	padding: 13px 0;
	font: 14px Helvetica,Arial,sans-serif;
	text-align: center;
	text-shadow: 0 1px 0 #191970;
}

.facebook-button:hover {
	color: white;
	text-shadow: 0 1px 0 #4682B4;
	text-decoration:none;
}

.facebook-button-text {
	cursor: pointer;
	display: inline-block;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	
	color: #fff;
    font-size: 18px;
	
	line-height: normal;
}

.facebook-button-text a:hover {
	color: #fff;
}

.fb_ico {
	background: url("../../assets/facebook.png") no-repeat scroll -1px -47px transparent;
	display: block;
	height: 14px;
	padding: 0pt;
	width: 14px;
	position: relative;
	left: 2px;
}

.actions_buttons {
	position:relative;
	left:63%;
	top:40%;
}

.login_button {
	position:relative;
	height: 10px;
	width: 10px;
	margin: 30px;
}

.register_button {
	position:relative;
	height: 10px;
	width: 10px;
	margin: 30px;
}

.alert-message.notice {	
	position: fixed;
	width: 65%;
	height: 25px;
	top: 0;
	z-index: 6;
	font-size: 18px;
}

.close.notice {
	position: fixed;
	right:21%;
	top: 1%;
	cursor: pointer;
	border: 2px solid #333;
	width: 6px;
	height: 6px;
	padding: 6px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.close.notice span {
	margin-left: -3px;
	margin-top: -5px;
	position: fixed;
}

.new_formation_invitation {
	background-color: #ADD8E6;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ADD8E6), to(#FFF));
	background-image: -moz-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -ms-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADD8E6), color-stop(100%, #FFF));
	background-image: -webkit-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -o-linear-gradient(top, #ADD8E6, #FFF);
	background-image: linear-gradient(top, #ADD8E6, #FFF);
	
	margin-top: 18px;
	padding: 17px 5px 38px 10px;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	height: 8px;
}

.hero-unit {
	background-color: #FFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFF), to(#ADD8E6));
	background-image: -moz-linear-gradient(top, #FFF, #ADD8E6);
	background-image: -ms-linear-gradient(top, #FFF, #ADD8E6);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #ADD8E6));
	background-image: -webkit-linear-gradient(top, #FFF, #ADD8E6);
	background-image: -o-linear-gradient(top, #FFF, #ADD8E6);
	background-image: linear-gradient(top, #FFF, #ADD8E6);
}

.new_formation_invitation h2 {
	margin-left: 10px;
	margin-right: 10px;
	color: #0000CD;	
}

.actions.new_formation_actions {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	padding-top: 17px;
	padding-bottom: 18px;
	padding-right: 0px;
	padding-left: 0px;
}

.menu.formation {
	margin-right: 390px;
	margin-top: -180px;
}

.table_holders {
	width: 170px;
	margin-top: 50px;
}

.hero-unit.show {
	float: left;
	width: 800px;
	padding-top: 10px;
}

.facebook_plugins {
	position: relative;
	margin-top: 15px;
}

.facebook_plugins.share {
	position: relative;
	bottom: 100px;
    font-size: 13px;
}

.facebook_plugins.comment {
	position: relative;
	float: right;
	margin: 0px 0 0 304px;
	width: 100%;
}

.fb_share {
	margin-left: 5px;
}

.share {
	position: relative;
	float: left;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.share.right {
	float: right;
	margin: 0 auto;
}

.share.facebook {
	width: 121px;
	height: 25px;
}

.share.twitter {
	width: 121px;
	height: 25px;
	margin-left: 11px;
}

.share.google_plus {
	margin-left: 14px;
}

.ads {
}

.ads_left {
	position: absolute;
	left: 7px;
	top: 72px;
}

.ads_right {
	position: absolute;
	right: 7px;
	top: 72px;
}

.facebookLogin div {background-position: right -75px;}
.facebookLogin:hover div {background-position: right -100px;}
.facebookLogin:active div {background-position: right -125px;}
.facebookLogin div span {background-position: 0 -75px; color: #fff !important;}
.facebookLogin:hover div span {background-position: 0 -100px;}
.facebookLogin:active div span {background-position: 0 -125px;}

.facebook-like {
	float: left;
	margin-top: -12px;

	width: 100%;
	height: 80px;
}

#slideshow {
 width: 900px;
 height: 320px;
 position: relative;
}

#slideshow-wrapper {
 width: 472px;
 height: 310px;
 position: relative;
 margin-left: 220px;
}

#slideshow-wrapper img {
 display: none;
}

#slideshow-wrapper #caption {
 text-align: center;
 padding: 5px 0;
 padding-left: 10px;
 display: none;
 font-size: 25px;
}

.welcome div.description p {
	line-height: 22px;
	margin-top: 2%;
	margin-left: 14%;
	text-align: left;
	width: 80%;
	font-size: 18px;
}


input[type="email"].contact_us.email {
	float: left;
	width: 61%;
}

.contact_us.message {
	float: left;
	resize: none;
	height: 200px;
	width: 89%;	
}

input[type="submit"].btn.large.contact_us {
	margin-left: 0px;
	margin-right: 10%;
	float: right;
}

/* Popover styles
 -------------------------------------------------- */
/* Required style */
.popover {
	position: absolute;
}

/* Aesthetic styles */
.popover {
	/*background: #F33;*/
	
	background-color: #ADD8E6;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ADD8E6), to(#FFF));
	background-image: -moz-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -ms-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADD8E6), color-stop(100%, #FFF));
	background-image: -webkit-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -o-linear-gradient(top, #ADD8E6, #FFF);
	background-image: linear-gradient(top, #ADD8E6, #FFF);
	
	text-align: right;
	color: #191970;
	font-size: 22px;
	font-weight: normal;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	padding: 10px;
	width: 92px;
	height: 150px;
	display: none;
	z-index: 9999;
	border: 2px solid #B22222;	
}

.popover img {
	margin: 7px;
	-webkit-box-shadow: 0 3px 10px #888;
	-moz-box-shadow: 0 3px 10px #888;
	box-shadow: 0 3px 10px #888;
	border: 2px solid #FCFAFA;
}

.popover.right {
	margin-top: -53px;
	margin-left: 61%;
}

.popover span.number {
	float: left;
	color: #B22222;
	font-size: 35px;
}

.ads.right {
	left: 100%;
	margin-left: 2%;
	position: absolute;
}

#feed {
	position: fixed;
	top: 20%;
	left: 52%;
	background-color: #ADD8E6;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ADD8E6), to(#FFF));
	background-image: -moz-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -ms-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADD8E6), color-stop(100%, #FFF));
	background-image: -webkit-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -o-linear-gradient(top, #ADD8E6, #FFF);
	background-image: linear-gradient(top, #ADD8E6, #FFF);
	display: none;
	text-align: center;
	color: #191970;
	font-size: 22px;
	font-weight: normal;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	-khtml-border-radius: 5px; /* Konqueror */
	border-radius: 5px; /* Standard. IE9 */
	padding: 10px;
	width: 540px;
	height: 318px;
	z-index: 9999;
	border: 2px solid #B22222;
}

#feed img {
	margin-left: 226px;
	-webkit-box-shadow: 0 3px 10px #888;
	-moz-box-shadow: 0 3px 10px #888;
	box-shadow: 0 3px 10px #888;
	border: 2px solid #FFF;
	margin-bottom: 16px;
}

#feed ul {	
	text-align: left;
	margin-left: 42px;
}

#feed ul li {
	padding: 10px;
}

#feed ul li span {
	padding-right: 6px;
}

#feed ul li a {
	font-family: Palatino, serif;
	font-size: 16px;
	color: #E2223B;
	text-shadow: 0 1px 0 #FFF;
	font-weight: normal;
}

#feed .close.notice {
	background-color: #E2223B;
	color: #FFF;
	position: fixed;
	right: 3%;
	top: 17%;
	cursor: pointer;
	border: 2px solid #FFF;
	width: 10px;
	height: 10px;
	padding: 6px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	opacity: 1;
}

#feed .close.notice span {
	font-size: 28px;
	color: white;
	margin-left: -2px;
	top: -2px;
	text-align: center;
	position: relative;
	opacity: 1;
}
