#soccerField {
  width: 358px;
  height: 493px;
  background-image: url(../../assets/soccer_field.png);
  background-repeat:no-repeat;
  background-position:center; 
}

#player {
  /*background-image: url(../../assets/soccer_field.png);
  background-repeat:no-repeat;
  background-position:center;
  */
  background-color: white;
		
  position:absolute;

  float:left;
  margin: 0px 0 0 365px;
  width: 700px;
  height: 490px;
}

#player div, #slot div {
  cursor: pointer;
  font-size: 9px;
  text-align: center;
  font-weight: bold;
  width: 12px;
  height: 12px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #fff;
}

#player div {
  background: #fff;
  border: 2px solid #B22222;
  background-image: url(../../assets/team.png);
  font-size: 10px;
  color: blue;
  text-shadow: 0 1px 1px #F6F6F6;
  position:relative;
  margin:10px;
  margin-bottom: 5px;
  float:left;
}

#player div p {
  margin-top: -5px;
  margin-left: 1px;
}

#slot {
  width:340px;
  padding:0;
  position:relative;
  float:left;
  margin: 52px 0 0 19px;
}

#slot div {
  background: none;
  opacity: 0.2;
  position:relative;
  width:10px;
  height:10px;
  margin:20px;
  margin-bottom: 10px;
  float:left;
}

.emptySlot {
  	margin:20px;
  	float:left;
	position:relative;
  	cursor: pointer;
	text-align: center;
	width: 12px;
	height: 12px;
	padding: 5px;

	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;

	border: 2px solid #000000;
  	font-size: 9px;
	margin-bottom: 10px;
	opacity: 0;
}

.team {
	border: 2px solid #B22222;
  	background-image: url(../../assets/team.png);
	color: blue;
	font-size: 10px;
  	text-shadow: 0 1px 1px #F6F6F6;
	opacity: 1;
}

#emptySlot {
  width:340px;
  padding:0;
  position:relative;
  float:left;
  margin: 45px 0 0 14px;
}
  
#gk {
  font-size: 9px;
  text-align: center;
  font-weight: bold;
  width: 10px;
  height: 10px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background: #fff;
  position:absolute;
  margin: 450px 0 0 166px;
  opacity: 0.2;
}

#soccer_icon {
  background-image: url(../../assets/soccer_icon.png);
}

input[type=text], input[type=password] {
	width: 210px;
	height: 18px;
	-moz-border-radius: 8px; /* Para Firefox */
	-webkit-border-radius: 8px; /*Para Safari e Chrome */
	border-radius: 8px; /* Para Opera 10.5+*/
}

input[type=submit] {
	
	/* button collor */
	background-image:-webkit-gradient(linear,left top,left bottom,from(#87CEFA),to(#FFF));
	background-image:-webkit-linear-gradient(top,#87CEFA,#FFF);
	background-image:-moz-linear-gradient(top,#87CEFA,#FFF);
	background-image:-ms-linear-gradient(top,#87CEFA,#FFF);
	background-image:-o-linear-gradient(top,#87CEFA,#FFF);
	background-image:linear-gradient(top,#87CEFA,#FFF);
	
	color: #B22222;
	text-shadow: 0 1px 1px #111;
	font-family: sans-serif;
	
	cursor: pointer;
	font-size: 18px;
	width: 110px;
	height: 33px;
	-moz-border-radius: 12px; /* Para Firefox */
	-webkit-border-radius: 12px; /*Para Safari e Chrome */
	border-radius: 12px; /* Para Opera 10.5+*/
}

.playerName {
	padding-left: 11px;
	padding-bottom: 3px;
	text-align: left;
	cursor: text;
	position: absolute;
	font-size: 11px;
	margin: -20px 0 0 13px;
	opacity: 1;
}

.hiddenPlayerName {
	opacity: 0;
}