.droppable-area {
	height: 550px;
	width: 950px;
}

#soccerField {
	position: absolute;
	height: 550px;
	width: 419px;
	margin-left: 50px;
	cursor: default;
}

.soccer-field-grass {
	background-image: url(../../assets/soccer_field_2.png);
	border: none;
	background-repeat: no-repeat;
}

.positions-map {
	position: absolute;
	height: 600px;
	width: 419px;
	background-image: url(../../assets/soccer_field_positions.png);
	border: none;
	background-repeat: no-repeat;
	margin-left: 50px;
	cursor: default;
	display: none;
}

.pills.positions a {
	font-size: 25px;
	float: left;
}

#tabs {
	font-family: 'Squada One', cursive;	
}

#tabs ul li a {
	width: 100%;
	text-align: left;
}

#tabs ul li a span {
	position: relative;
}

#tabs.ui-tabs .ui-tabs-nav li {
}

#player {
	position: relative;
	float: left;
	margin: 0px 0 0 429px;
	width: 450px;	
	height: 490px;
	overflow: auto;
	overflow-x: hidden;
	border-color: #eedc94 #eedc94 #e4c652;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.player {
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #B22222;
	-webkit-box-shadow: 0 3px 10px #888;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 69px;
	margin-bottom: 40px;
	margin-left: 13px;
	float: left;
}

#player p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -7px;
	margin-left: 2px;
}

#slot {
	display: none;
	position: absolute;
	width: 340px;
	padding: 0;	
	float: left;
	margin: 50px 0 0 64px;
	cursor: default;
}

#slot div {
	opacity: 0.5;
	position: relative;
	width: 12px;
	height: 12px;
	margin: 20px;
	margin-bottom: 0px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	border-style: dotted;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	float: left;
	cursor: default;
}

.ui-droppable.hovered {
	background-color: #B22222;
}

.emptySlot {
	margin: 20px;
	float: left;
	position: relative;
	cursor: pointer;
	text-align: center;
	width: 12px;
	height: 12px;
	padding: 5px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #000000;
	font-size: 9px;
	margin-bottom: 0px;
	opacity: 0;
	cursor: default;
}

.team {
	border: 2px solid #A52A2A;
	background-image: url(../../assets/player-body-home.png);
	background-repeat: no-repeat;
	background-position: center;
	color: blue;
	font-size: 9px;
	text-shadow: 0 1px 1px #F6F6F6;
	cursor: pointer;	
	opacity: 1;
	-webkit-box-shadow: 0 3px 10px #888;
}

.team p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -2px;
	margin-left: 1px;
}

.team.ui-draggable.correct.ui-draggable-disabled.ui-state-disabled {
	background-image: url(../../assets/player-body-home.png);
	opacity: 0.7;
	-webkit-box-shadow: 0 3px 10px #888;
}

.goal_keeper {
	font-size: 9px;
	text-align: center;
	width: 30px;
	height: 4px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: #27408B;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	border: 2px solid #B22222;
	-webkit-box-shadow: 0 3px 10px #888;
}

.enabled {
	cursor: pointer;
	opacity: 1;
}

.disabled {
	cursor: default;
	opacity: 0.5;
}

#emptySlot {
	width: 340px;
	padding: 0;
	position: relative;
	float: left;
	margin: 45px 0 0 14px;
	cursor: default;
}
  
#gk {
	font-size: 9px;
	text-align: center;
	width: 30px;
	height: 4px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	position: absolute;
	margin: 453px 0 0 157px;
	opacity: 0.5;
}

#gk div {
	background: #D3D3D3;
	border: 2px solid #B22222;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 140px;
	margin-bottom: 40px;
	float: left;
}

#gk p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -17px;
}

#gk.present {
	opacity: 1;
	background: #27408B;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	border: 2px solid #B22222;
	-webkit-box-shadow: 0 3px 10px #888;
}

#soccer_icon {
	background-image: url(../../assets/soccer_icon.png);
}

.playerName {
	cursor: default;
	position: absolute;
	font-size: 16px;
	margin-top: 24%;
	margin-left: 40%;
	color: #FFF;
	text-shadow: 0 1px 1px #0000CD;
}

.hiddenPlayerName {
	opacity: 0;
}

#forwards, #midfield, #midfield_defense, #left_back, #defender, #right_back, #goalkeepers {
	position: relative;
	float: left;
	width: 100%;	
}

#player div span {
	color: #191970;
	text-shadow: 0 1px 1px #F6F6F6;
}

[class*="show"] {
  float: left;

}

#soccerField.show {
	position: relative;
	width: 358px;
	height: 493px;
	margin-bottom: 50%;
	margin: 0 auto;
}

#soccerField.list {
	height: 493px;
	width: 358px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -513px;
	margin-bottom: 0px;
	left: 50%;
}

#soccerField.show-formation {
	position: relative;
	width: 358px;
	height: 493px;
	margin-bottom: 50%;
	left: 30%;
	margin: 0 auto;
}

#creator-info.show {
	width: 227px;
}

#creator-info.show.formation {
	width: 250px;
	float: right;
	margin-right: 38px;
	padding: 10px;
}

#creator-info.show ul li {
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	font-size: 16px;
	padding: 10px;
	margin-left: 2px;
}

#creator-info.show ul {
	list-style: none;	
}

#emptySlot.show {
	
}

.formation-header {
	margin: 0 auto;
	text-align: center; 
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	position: relative;
	margin-bottom: -22px;
}

.formation-header.large {
	margin-bottom: 0px;
	text-align: center; 	
	position: relative;
	width: 100%;
	height: 40px;
}

.legend {
	width: 100%;
	height: 33px;
	margin-left: 5%;
	font-size: 13px;
}

.legend ul {
	list-style:none;
	font-size: 14px;
}

.legend ul li {
	display: inline; 
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin: 3px;
	padding: 3px;
	float: left;
}

.legend ul li.defense, .legend ul li.midfield, .legend ul li.forward {
	font-size: 33px;
}

.defense {
	background: #B8860B;
	border: 2px solid #DAA520;
}

.midfield {
	background: #104E8B;
	border: 2px solid #4876FF;
}

.forward {
	background: #8B0000;
	border: 2px solid #CD0000;
}

.last-squad-of-the-round {
	margin-left: 300px;
	height: 500px;
	margin-top: 3%;
}

.call-up table tr th {
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
}

.call-up table {
	position: absolute;
	left: 93px;
	height: 505px;
	width: 130px;
	padding: 15px;
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	border: none;
	text-align: right;
	font-size: 13px;
}

.call-up table tbody tr td{
	background-color:none;
}

.call-up table tbody tr:hover td, .recent-winners table tbody tr:hover td {
	background-color:#f5f5f5;
}

.position {
	color: #708090;
}

.champions-of-round {
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	font-size: 17px;
	text-align: right;
	margin-left: 49%;
	width: 129px;
}

.champions-of-round-icon {
	left: 80%;
	height: 16px;
	width: 16px;
	position: absolute;
	background-image: url(../../assets/icons/trophy.png);
}

.recent-winners {
	margin-top: 5%;
	margin-left: 12px;	
	text-align: center;
	color: #191970;
	height: 340px;
	width: 250px;
}

.recent-winners.champions-of-round {
	height: 278px;
	width: 250px;
	margin-top: 2%;
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}

.recent-winners.champions-of-round table tbody tr td {
	height: 43px;
	padding-right: 30px;
}

.link {
	margin-bottom: 9px;
	text-align: right;
	margin-top: 0px;
	font-size: 19px;
}

.recent-winners table {
	position: absolute;
	width: 247px;
	padding: 15px;
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	border: none;
	text-align: right;
	margin-right: 5%;
}

.user-avatar {
	float: left;
	border: 2px solid #FCFAFA;
	-webkit-box-shadow: 0 3px 10px #888;
}

.nickname {
	
}