.jogo.center {
	position: relative;
	font-size: 12px;
	padding-left: 42%;
	padding-top: 2%;
	padding-bottom: 7%;
	margin-bottom: 5%;
}

.jogo {
	position: relative;
	font-size: 12px;
	padding-left: 20%;
	padding-top: 2%;
	padding-bottom: 12%;
}

.time {
	width: 45px;
	height: 45px;	
}

.time, .x {
	float: left;
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
}

.x {
	margin-bottom: 23px;
	margin-top: 23px;
	margin-left: 20px;
	margin-right: 20px;
}

.team-home-name, .team-away-name {
	text-align: center;
}

.x, .team-home-name, .team-away-name {
	color: #191970;
	text-shadow: 0 1px 1px #F6F6F6;
}

.team-home-name {
	margin-left: 0px;
	margin-right: 6px;
}

.team-away-name {
	margin-left: 6px;
	margin-right: 20px;
}

.match {
	margin: 0 auto;
	margin-left: 30px;
	float: left;
}

.match h3 {
	color: #0000CD;
	margin-right: 35px;
}

.new-formation {	
	margin: 0 auto;
	padding-bottom: 20px;
	position: relative;
}

#formation-list-section, #calendars-section {
	height: 100%;
}

#formation-list-section .record-list {
	height: 493px;
	width: 46%;
}

.record-list {
	float: left;
	height: 493px;
	width: 46%;
	overflow: auto;
	overflow-x: hidden;
	margin-left: 7%;
	font-size: 10px;
	margin-bottom: 20px;
	
	background-color: none;
	border-color: #191970;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.record-list ul {
	list-style:none;
}

.record-list ul li {
	margin-left: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 70px;
	padding-top: 30px;
	cursor: pointer;
}

.record-list ul li:hover {
	background-color: #f5f5f5;
}

.record-list ul li:active {
	background-color: #FFF;
}

.record-list ul li.selected, .record-list ul li.selected p {
	background-color: #104E8B;
	color: #E8E8E8;
	text-shadow: 0 2px 0 #B22222;
	font-weight: bold;
}

.record-list ul li img {
	margin-right: 10px;
	float: left;
	vertical-align: text-bottom;
}

.record-list ul li p {
	float: left;
	width: 110px;
	text-align: left;	
	text-shadow: 0 1px 0 #FFF;
}

/* Buttons */
.record-list ul li .edit {
	cursor: pointer;
	position: absolute;
	margin-left: 5%;
	margin-top: 6px;
	width: 32px;
	height: 32px;
	background-image: url(../../assets/icons/edit.png);
}

.record-list ul li .destroy {
	cursor: pointer;
	position: absolute;
	margin-left: 10%;
	width: 32px;
	height: 32px;
	background: transparent url(../../assets/icons/destroy.png);
}

.record-list ul li .formations {
	cursor: pointer;
	position: absolute;
	width: 48px;
	height: 48px;
	background: transparent url(../../assets/icons/football.png);
}

.record-list ul li .edit:hover, .record-list ul li .destroy:hover, .record-list ul li .formations:hover {
	opacity: 0.8;
}

.record-list ul li .edit.disabled:hover, .record-list ul li .destroy.disabled:hover, .record-list ul li .formations.disabled:hover {
	opacity: 0.5;
	cursor: default;
}

.creator, .match-day {
	font-size: 12px;
	color: #191970;
}

.tactical {
	font-size: 20px;
	color: #708090;
}

.comments {
	margin-top: 20px;
}

#calendars-section .record-list {
	height: 100%;
	width: 86%;
}

#calendars-section ul li {
	cursor: default;
}

#calendars-section .x {
	width: 5%;
}

#calendars-section .home-team, #calendars-section .away-team {
	font-size: 14px;
	color: #708090;
	vertical-align:text-bottom;
}

#calendars-section .home-team {
	width: 20%;
}

#calendars-section .away-team {
	width: 30%;
}

#calendars-section .home-team:hover img, #calendars-section .away-team:hover img {
	opacity: 0.7;
}

#calendars-section ul li p.button {
	width: 10%;
}