.bahia {
	height: 45px;
	width: 45px;
	background-image: url(../../assets/bahia.png);	
	background-repeat: no-repeat;
	background-position: left;
	position: fixed;
	top: 0;
}

#soccerField {
	height: 558px;
	width: 513px;
	background-image: url(../../assets/soccer_field.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 40px;
}

#soccerField.center {
	width: 380px;
	margin-top: -540px;
	margin-left: 240px;
}

.soccerFieldBorder {
	width: 358px;
	height: 493px;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	margin-top: 20px;
}

#player {
	position: absolute;
	float: left;
	margin: 0px 0 0 365px;
	margin-top: 60px;
	width: 700px;
	height: 490px;
}

#player div, #slot div {
	cursor: pointer;
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background: #fff;
}

#player div {
	background: #fff;
	border: 2px solid #B22222;
	background-image: url(../../assets/team.png);
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 140px;
	margin-bottom: 40px;
	float: left;
}

#player p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -7px;
	margin-left: 2px;
}

.team p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -2px;
	margin-left: 1px;
}

#slot {
	width: 340px;
	padding: 0;
	position: relative;
	float: left;
	margin: 86px 0 0 19px;
}

#slot div {
	background: none;
	opacity: 0.2;
	position: relative;
	width: 10px;
	height: 10px;
	margin: 20px;
	margin-bottom: 10px;
	float: left;
}

.emptySlot {
	margin: 20px;
	float: left;
	position: relative;
	cursor: pointer;
	text-align: center;
	width: 12px;
	height: 12px;
	padding: 5px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #000000;
	font-size: 9px;
	margin-bottom: 10px;
	opacity: 0;
}

.team {
	border: 2px solid #B22222;
	background-image: url(../../assets/team.png);
	color: blue;
	font-size: 9px;
	text-shadow: 0 1px 1px #F6F6F6;
	opacity: 1;
}

#emptySlot {
	width: 340px;
	padding: 0;
	position: relative;
	float: left;
	margin: 77px 0 0 14px;
}
  
#gk {
	font-size: 9px;
	text-align: center;
	font-weight: bold;
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background: #fff;
	position: absolute;
	margin: 490px 0 0 166px;
	opacity: 0.5;
}

#gk div {
	background: #fff;
	border: 2px solid #B22222;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 140px;
	margin-bottom: 40px;
	float: left;
}

#gk p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -7px;
}

#gk.present {
	opacity: 1;
}

#soccer_icon {
	background-image: url(../../assets/soccer_icon.png);
}

.playerName {
	padding-left: 11px;
	padding-bottom: 3px;
	text-align: left;
	cursor: text;
	position: absolute;
	font-size: 11px;
	margin: -28px 0 0 13px;
	opacity: 1;
}

.hiddenPlayerName {
	opacity: 0;
}

#calendar_day_3i, #calendar_day_4i, #calendar_day_5i {
	width: 55px;
}

#calendar_day_2i {
	width: 120px;
}

#calendar_day_1i {
	width: 70px;
}

.alert-message.info h3, .alert-message.info h2, .alert-message.info h1, .matchInfo {
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
}

.topbar.menu a {
	color: #FFF;
}

.topbar.menu {
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	z-index: 2;
}

.topbar.formation {
	position: absolute;
	height: 60px;
	padding-top: 10px;
	margin-top: 40px;
	background-color: #1E90FF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#191970), to(#1E90FF));
	background-image: -moz-linear-gradient(top, #191970, #1E90FF);
	background-image: -ms-linear-gradient(top, #191970, #1E90FF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191970), color-stop(100%, #1E90FF));
	background-image: -webkit-linear-gradient(top, #191970, #1E90FF);
	background-image: -o-linear-gradient(top, #191970, #1E90FF);
	background-image: linear-gradient(top, #191970, #1E90FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191970', endColorstr='#1E90FF', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #1E90FF #1E90FF #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	z-index: 3;
}

.topbar.formation.show {
	height: 90px;
}

.table_below_topbar {
	margin-top: 80px;
}

.topbar.formation ul {
	list-style: none;	
}

.topbar.formation li, .topbar.formation li h3, .topbar.formation li h1 {
	color: #FFF;
}

.topbar.user_info {
	left: 80%;
	width: 30px;
	z-index: 4;
}

.user_info {
	list-style: none;
	font-weight: bold;
	color: #FFF;
	position:fixed;
	left:80%;
	top:6px;
}

.dropdown-menu.user_info {
	display: none;
}

.dropdown-menu.user_info.visible {
	display: block;
	top: 0;
}

.foobar {
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	line-height: 1;
	width: 100%;
}


.foobar.formationActions {
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	margin: 0;
}

.btn.reset {
	position:absolute;
	right:10%;
	margin-right: 130px;
	top:50%;
}

.btn.send {
	position:absolute;
	right:10%;
	top:50%;
	width: 120px;
}

.formationSent {
	  position: absolute;
	  left:50%;
	  top:10%;
	  color: #404040;
	  background-color: #eedc94;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
	  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
	  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
	  background-image: linear-gradient(top, #fceec1, #eedc94);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  border-color: #eedc94 #eedc94 #e4c652;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  border-width: 1px;
	  border-style: solid;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.main {
	margin-top: 80px;
}

.fb_button {
        background-color: #3b5998;
        border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        font-size: 11px;
        margin: 0 2px;
        padding: 2px 18px;
		position:absolute;
		left:40%;
		top:50%;
		width: 18%;
}

.fb_ico {
	background: url("../../assets/facebook.png") no-repeat scroll -1px -47px transparent;
	display: block;
	height: 14px;
	padding: 0pt;
	width: 14px;
	position: absolute;
	left: 2px;
}

.next_match_info {
	position:absolute;
	left:5%;
	top:50%;
}

.login_button {
	position:absolute;
	left:63%;
	top:40%;
}

.register_button {
	position:absolute;
	left:74%;
	top:40%;
}

.alert-message.notice {	
	position: fixed;
	width: 100%;
	height: 25px;
	top: 0;
	z-index: 5;
}

.close.notice {
	position: fixed;
	right:2%;
	top: 12px;
	cursor: pointer;
}

.facebook_plugins {
	position: relative;
	left: 2%;
	margin-top: 15px;
}

.facebook_plugins.share {
	position: relative;
	left: 28%;
	bottom: 100px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.facebook_plugins.like {
	position: relative;
	margin-top: 18px;
	margin-left: 480px;
}

.facebook_plugins.comment {
	position: relative;
	left: 0.5%;
	margin-top: 500px;
}

.fb_share {
	margin-left: 5px;
}

.new_formation_invitation {
	position: absolute;
	margin-top: 33px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
	color: #0000CD;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.new_formation_invitation h2 {
	margin-left: 10px;
	margin-right: 10px;
	color: #0000CD;	
}

.welcome {
	position: absolute;
	margin-top: 80px;
	margin-left: 370px;
	width: 630px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 12px;
	color: #0000CD;
	background-color: #FF6A6A;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFFAFA), to(#FF6A6A));
	background-image: -moz-linear-gradient(top, #FFFAFA, #FF6A6A);
	background-image: -ms-linear-gradient(top, #FFFAFA, #FF6A6A);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFAFA), color-stop(100%, #FF6A6A));
	background-image: -webkit-linear-gradient(top, #FFFAFA, #FF6A6A);
	background-image: -o-linear-gradient(top, #FFFAFA, #FF6A6A);
	background-image: linear-gradient(top, #FFFAFA, #FF6A6A);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFA', endColorstr='#FF6A6A', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #eedc94 #eedc94 #e4c652;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.welcome h1, .welcome h3 {
	color: #0000CD;
}

.welcome h2 {
	color: #0000FF;
}

.subtitle {
    font-size: 18px;
	color: #1E90FF;
}

.welcome p, .welcome h1, .welcome h2, .welcome h3, .welcome span {
	margin-left: 10px;
	margin-right: 10px;
}

.content-area {
	color: #0000CD;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.content-area li {
	color: #0000FF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.content-area.right {
	margin-left: 570px;
}

.content-area.left {
	margin-right: 390px;
	margin-top: -380px;
}

.menu.formation {
	margin-right: 390px;
	margin-top: -180px;
}

.table_holders {
	width: 170px;
	margin-top: 50px;
}

.span3.right {
	margin-top: -570px;
	margin-left: 690px;
}