.droppable-area {
	height: 1200px;
	width: 1113px;
}

#soccerField {
	position: absolute;
	height: 550px;
	width: 1113px;	
	margin-left: 0px;
	margin-top: 50px;
	cursor: default;
}

.soccer-field-grass {
	background-image: url(../../assets/soccer_field_2.png);
	background-repeat: no-repeat;
}

.positions-map {
	position: absolute;
	height: 550px;
	width: 1113px;
	background-image: url(../../assets/soccer_field_positions.png);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 50px;
	cursor: default;
	display: none;
}

.pills.positions a {
	color: #FFF;
}

#player {
	background-color: #00008B;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#00008B), to(#8B0000));
	background-image: -moz-linear-gradient(top, #00008B, #8B0000);
	background-image: -ms-linear-gradient(top, #00008B, #8B0000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00008B), color-stop(100%, #8B0000));
	background-image: -webkit-linear-gradient(top, #00008B, #8B0000);
	background-image: -o-linear-gradient(top, #00008B, #8B0000);
	background-image: linear-gradient(top, #00008B, #8B0000);
	
	position: relative;
	float: left;
	margin: 16px 0 0 379px;
	width: 420px;	
	height: 490px;
	overflow: auto;
	overflow-x: hidden;
	border-color: #eedc94 #eedc94 #e4c652;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.player {
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #B22222;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 70px;
	margin-bottom: 40px;
	margin-left: 10px;
	float: left;
}

#player p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -7px;
	margin-left: 2px;
}

#slot {
	display: none;
	position: absolute;
	width: 340px;
	padding: 0;	
	float: left;
	margin: 99px 0 0 14px;
	cursor: default;
}

#slot div {
	opacity: 0.5;
	position: relative;
	width: 12px;
	height: 12px;
	margin: 20px;
	margin-bottom: 0px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	border-style: dotted;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	float: left;
	cursor: default;
}

.ui-droppable.hovered {
	background-color: #B22222;
}

.emptySlot {
	margin: 20px;
	float: left;
	position: relative;
	cursor: pointer;
	text-align: center;
	width: 12px;
	height: 12px;
	padding: 5px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #000000;
	font-size: 9px;
	margin-bottom: 0px;
	opacity: 0;
	cursor: default;
}

.team {
	border: 2px solid #A52A2A;
	background-image: url(../../assets/player-body-home.png);
	background-repeat: no-repeat;
	background-position: center;
	color: blue;
	font-size: 9px;
	text-shadow: 0 1px 1px #F6F6F6;
	cursor: pointer;	
	opacity: 1;
}

.team p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -2px;
	margin-left: 1px;
}

.team.ui-draggable.correct.ui-draggable-disabled.ui-state-disabled {
	background-image: url(../../assets/player-body-home.png);
	opacity: 0.7;
}

.goal_keeper {
	font-size: 9px;
	text-align: center;
	width: 30px;
	height: 4px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: #27408B;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	border: 2px solid #B22222;
}

.enabled {
	cursor: pointer;
	opacity: 1;
}

.disabled {
	cursor: default;
	opacity: 0.5;
}

#emptySlot {
	width: 340px;
	padding: 0;
	position: relative;
	float: left;
	margin: 45px 0 0 14px;
	cursor: default;
}
  
#gk {
	font-size: 9px;
	text-align: center;
	width: 30px;
	height: 4px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	position: absolute;
	margin: 453px 0 0 157px;
	opacity: 0.5;
}

#gk div {
	background: #D3D3D3;
	border: 2px solid #B22222;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 140px;
	margin-bottom: 40px;
	float: left;
}

#gk p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -17px;
}

#gk.present {
	opacity: 1;
	background: #27408B;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	border: 2px solid #B22222;
}

#soccer_icon {
	background-image: url(../../assets/soccer_icon.png);
}

.playerName {
	padding-left: 11px;
	padding-bottom: 3px;
	text-align: left;
	cursor: default;
	position: absolute;
	font-size: 11px;
	margin: -28px 0 0 13px;
	opacity: 1;
	color: #FFF;
	text-shadow: 0 1px 1px #0000CD;
	font-weight: bold;
}

.hiddenPlayerName {
	opacity: 0;
}

#forwards, #midfield, #midfield_defense, #left_back, #defender, #right_back, #goalkeepers {
	position: relative;
	float: left;
	width: 444px;
}

[class*="show"] {
  float: left;

}

#soccerField.show {
	position: relative;
	width: 358px;
	height: 509px;
	margin-bottom: 50%;
	margin: 0 auto;
}

#creator-info.show {
	width: 227px;
}

#creator-info.show ul li {
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	font-size: 14px;
}

#creator-info.show ul {
	list-style: none;	
}

#emptySlot.show {
	
}

.legend {
	margin-bottom: 0px;
}

.legend ul {
	list-style:none;
}

.legend ul li {
	display: inline; 
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin: 3px;
	padding: 3px;
	float: right;
}

.defense {
	background: #B8860B;
	border: 2px solid #DAA520;
}

.midfield {
	background: #104E8B;
	border: 2px solid #4876FF;
}

.forward {
	background: #8B0000;
	border: 2px solid #CD0000;
}

.last-squad-of-the-round {
	margin-left: 300px;
	height: 500px;
	margin-top: 3%;
}

.call-up table tr th {
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	font-weight: bold;
}

.call-up table {
	position: absolute;
	left: 138px;
	height: 505px;
	width: 130px;
	padding: 15px;
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	font-weight: bold;
	border: none;
	text-align: right;
}

.call-up table tbody tr td{
	background-color:none;
}

.call-up table tbody tr:hover td, .recent-winners table tbody tr:hover td{
	background-color:#f5f5f5;
}

.position {
	color: #708090;
}

.recent-winners {
	margin-top: 25%;
	margin-left: 12px;
	width: 250px;
	text-align: center;
}

.recent-winners table {
	position: absolute;
	width: 247px;
	padding: 15px;
	color: #191970;
	text-shadow: 0 1px 0 #FFF;
	font-weight: bold;
	border: none;
	text-align: right;
}