.bahia {
	height: 45px;
	width: 45px;
	background-image: url(../../assets/bahia.png);
	background-repeat: no-repeat;
	background-position: left;
	position: fixed;
	top: 0;
}

#soccerField {
	height: 558px;
	width: 513px;
	background-image: url(../../assets/soccer_field.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 130px;
}

.soccerFieldBorder {
width: 358px;
height: 493px;
border: 2px solid #333;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
margin-top: 20px;
}

#player {
position: absolute;
float: left;
margin: 0px 0 0 365px;
margin-top: 60px;
width: 700px;
height: 490px;
}

#player div, #slot div {
cursor: pointer;
width: 12px;
height: 12px;
padding: 5px;
padding-top: 10px;
padding-bottom: 0;
border: 2px solid #333;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
background: #fff;
}

#player div {
background: #fff;
border: 2px solid #B22222;
background-image: url(../../assets/team.png);
color: blue;
text-shadow: 0 1px 1px #F6F6F6;
position: relative;
margin-right: 140px;
margin-bottom: 40px;
float: left;
}

#player p {
font-size: 9px;
text-align: center;
color: blue;
text-shadow: 0 1px 1px #F6F6F6;
padding-bottom: 0px;
margin-top: -7px;
margin-left: 2px;
}

.team p {
font-size: 9px;
text-align: center;
color: blue;
text-shadow: 0 1px 1px #F6F6F6;
padding-bottom: 0px;
margin-top: -2px;
margin-left: 1px;
}

#slot {
width: 340px;
padding: 0;
position: relative;
float: left;
margin: 86px 0 0 19px;
}

#slot div {
background: none;
opacity: 0.2;
position: relative;
width: 10px;
height: 10px;
margin: 20px;
margin-bottom: 10px;
float: left;
}

.emptySlot {
margin: 20px;
float: left;
position: relative;
cursor: pointer;
text-align: center;
width: 12px;
height: 12px;
padding: 5px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
border: 2px solid #000000;
font-size: 9px;
margin-bottom: 10px;
opacity: 0;
}

.team {
border: 2px solid #B22222;
background-image: url(../../assets/team.png);
color: blue;
font-size: 9px;
text-shadow: 0 1px 1px #F6F6F6;
opacity: 1;
}

#emptySlot {
	width: 340px;
	padding: 0;
	position: relative;
	float: left;
	margin: 77px 0 0 14px;
}
  
#gk {
	font-size: 9px;
	text-align: center;
	font-weight: bold;
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background: #fff;
	position: absolute;
	margin: 490px 0 0 166px;
	opacity: 0.5;
}

#gk div {
	background: #fff;
	border: 2px solid #B22222;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 140px;
	margin-bottom: 40px;
	float: left;
}

#gk p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -7px;
}

#gk.present {
	 opacity: 1;
}

#soccer_icon {
	background-image: url(../../assets/soccer_icon.png);
}

.playerName {
	padding-left: 11px;
	padding-bottom: 3px;
	text-align: left;
	cursor: text;
	position: absolute;
	font-size: 11px;
	margin: -28px 0 0 13px;
	opacity: 1;
}

.hiddenPlayerName {
	opacity: 0;
}

#calendar_day_3i, #calendar_day_4i, #calendar_day_5i {
	width: 55px;
}

#calendar_day_2i {
	width: 120px;
}

#calendar_day_1i {
	width: 70px;
}

.alert-message.info h3, .alert-message.info h2, .alert-message.info h1, .matchInfo {
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
}

.topbar.menu a {
	color: #FFF;
}

.menu {
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.topbar.formation {
	height: 45px;
	padding-top: 10px;
	margin-top: 40px;
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.topbar.formation ul {
	list-style: none;	
}

.topbar.formation li, .topbar.formation li h3 {
	color: #FFF;
}

.topbar.user_info {
	left: 80%;
	width: 100%;
}

.user_info {
	list-style: none;
	font-weight: bold;
	color: #FFF;
	position:fixed;
	left:80%;
	top:6px;
}

.foobar {
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	line-height: 1;
	width: 100%;
}


.foobar.formationActions {
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	margin: 0;
}

.btn.reset {
	position:absolute;
	left:1%;
	top:10%;
}

.btn.send {
	position:absolute;
	left:50%;
	top:10%;
}

.formationSent {
	  position: absolute;
	  left:50%;
	  top:10%;
	  color: #404040;
	  background-color: #eedc94;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
	  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
	  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
	  background-image: linear-gradient(top, #fceec1, #eedc94);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  border-color: #eedc94 #eedc94 #e4c652;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  border-width: 1px;
	  border-style: solid;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.main {
	margin-top: 80px;
}

.fb_button {
        background-color: #3b5998;
        border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
        border-style: solid;
        border-width: 1px;
        color: #fff;
        font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
        font-size: 11px;
        margin: 0 2px;
        padding: 2px 18px;
		position:absolute;
		left:40%;
		top:50%;
		width: 18%;
}

.fb_ico {
	background: url("../../assets/facebook.png") no-repeat scroll -1px -47px transparent;
	display: block;
	height: 14px;
	padding: 0pt;
	width: 14px;
	position: absolute;
	left: 2px;
}

.next_match_info {
	position:absolute;
	left:5%;
	top:50%;
}

.login_info {
	position:absolute;
	left:63%;
	top:40%;
}

.register_info {
	position:absolute;
	left:74%;
	top:40%;
}

.alert-message.notice {	
	position: absolute;
	width: 100%;
}

.close.notice {
	position: absolute;
	right:5%;
	cursor: pointer;
}

.facebook_plugins {
	position: relative;
	left: 2%;
	margin-top: 15px;
}

.facebook_plugins.share {
	position: relative;
	left: 28%;
	bottom: 100px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.facebook_plugins.like {
	position: relative;
	bottom: 95%;
}

.facebook_plugins.comment {
	position: relative;
	left: 77%;
	bottom: 78%;
}

.fb_share {
	margin-left: 5px;
}