table {
	background-color: #FFF;
}

body {

}

.grass-footer {
	background-image: url(../../assets/grass-footer.png);	
}

.footer-info a {
	color: #FFF;
}

.version-info {
	color: #FFF;
}

.new-formation {	
	/*
	background: center top url(../../assets/squad800x278.png) no-repeat;
	height: 1000px;
	*/
}

.bahia {
	height: 45px;
	width: 45px;
	background-image: url(../../assets/bahia.png);	
	background-repeat: no-repeat;
	background-position: left;
	position: fixed;
	top: 0;
}

.droppable-area {
	height: 1200px;
	width: 1113px;
}

#soccerField {
	position: absolute;
	height: 550px;
	width: 1113px;
	background-image: url(../../assets/soccer_field_2.png);
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-top: 50px;
}

.pills.positions a {
	color: #FFF;
}

#player {
	background-color: #00008B;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#00008B), to(#8B0000));
	background-image: -moz-linear-gradient(top, #00008B, #8B0000);
	background-image: -ms-linear-gradient(top, #00008B, #8B0000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00008B), color-stop(100%, #8B0000));
	background-image: -webkit-linear-gradient(top, #00008B, #8B0000);
	background-image: -o-linear-gradient(top, #00008B, #8B0000);
	background-image: linear-gradient(top, #00008B, #8B0000);
	
	position: relative;
	float: left;
	margin: 50px 0 0 379px;
	width: 420px;	
	height: 490px;
	overflow: auto;
	overflow-x: hidden;
	border-color: #eedc94 #eedc94 #e4c652;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.player {
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #B22222;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 70px;
	margin-bottom: 40px;
	margin-left: 10px;
	float: left;
}

#player p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -7px;
	margin-left: 2px;
}

#slot {
	display: none;
	position: absolute;
	width: 340px;
	padding: 0;	
	float: left;
	margin: 99px 0 0 14px;
}

#slot div {
	opacity: 0.5;
	position: relative;
	width: 12px;
	height: 12px;
	margin: 20px;
	margin-bottom: 0px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	border-style: dotted;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	float: left;
}

.emptySlot {
	margin: 20px;
	float: left;
	position: relative;
	cursor: pointer;
	text-align: center;
	width: 12px;
	height: 12px;
	padding: 5px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #000000;
	font-size: 9px;
	margin-bottom: 0px;
	opacity: 0;
	cursor: default;
}

.team {
	border: 2px solid #A52A2A;
	background-image: url(../../assets/player-body-home.png);
	background-repeat: no-repeat;
	background-position: center;
	color: blue;
	font-size: 9px;
	text-shadow: 0 1px 1px #F6F6F6;
	cursor: pointer;	
	opacity: 1;
}

.team p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -2px;
	margin-left: 1px;
}

.team.ui-draggable.correct.ui-draggable-disabled.ui-state-disabled {
	background-image: url(../../assets/player-body-home.png);
	opacity: 0.7;
}

.goal_keeper {
	font-size: 9px;
	text-align: center;
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background: #D3D3D3;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	border: 2px solid #B22222;
}

.enabled {
	cursor: pointer;
	opacity: 1;
}

.disabled {
	cursor: default;
	opacity: 0.5;
}

#emptySlot {
	width: 340px;
	padding: 0;
	position: relative;
	float: left;
	margin: 45px 0 0 14px;
}
  
#gk {
	font-size: 9px;
	text-align: center;
	width: 12px;
	height: 12px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	margin: 446px 0 0 166px;
	opacity: 0.5;
}

#gk div {
	background: #D3D3D3;
	border: 2px solid #B22222;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	text-shadow: 0 1px 1px #F6F6F6;
	position: relative;
	margin-right: 140px;
	margin-bottom: 40px;
	float: left;
}

#gk p {
	font-size: 9px;
	text-align: center;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	text-shadow: 0 1px 1px #F6F6F6;
	padding-bottom: 0px;
	margin-top: -7px;
}

#gk.present {
	opacity: 1;
	margin: 450px 0 0 166px;
	background: #D3D3D3;
	color: blue;
	text-shadow: 0 1px 1px #F6F6F6;
	border: 2px solid #B22222;
}

#soccer_icon {
	background-image: url(../../assets/soccer_icon.png);
}

.playerName {
	padding-left: 11px;
	padding-bottom: 3px;
	text-align: left;
	cursor: text;
	position: absolute;
	font-size: 11px;
	margin: -28px 0 0 13px;
	opacity: 1;
	color: #FFF;
	text-shadow: 0 1px 1px #0000CD;
	font-weight: bold;
}

.hiddenPlayerName {
	opacity: 0;
}

#calendar_day_3i, #calendar_day_4i, #calendar_day_5i {
	width: 55px;
}

#calendar_day_2i {
	width: 120px;
}

#calendar_day_1i {
	width: 70px;
}

.alert-message.info h3, .alert-message.info h2, .alert-message.info h1, .matchInfo {
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
}

.topbar.menu a {
	color: #FFF;
}

.topbar.menu {
	/*
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*/
	padding-bottom: 12px;
	background-color: #1E90FF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#191970), to(#1E90FF));
	background-image: -moz-linear-gradient(top, #191970, #1E90FF);
	background-image: -ms-linear-gradient(top, #191970, #1E90FF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191970), color-stop(100%, #1E90FF));
	background-image: -webkit-linear-gradient(top, #191970, #1E90FF);
	background-image: -o-linear-gradient(top, #191970, #1E90FF);
	background-image: linear-gradient(top, #191970, #1E90FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191970', endColorstr='#1E90FF', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #1E90FF #1E90FF #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	z-index: 4;
}

.topbar.formation {
	height: 60px;
	padding-top: 12px;
	margin-top: 40px;
	background-color: #1E90FF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#191970), to(#1E90FF));
	background-image: -moz-linear-gradient(top, #191970, #1E90FF);
	background-image: -ms-linear-gradient(top, #191970, #1E90FF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191970), color-stop(100%, #1E90FF));
	background-image: -webkit-linear-gradient(top, #191970, #1E90FF);
	background-image: -o-linear-gradient(top, #191970, #1E90FF);
	background-image: linear-gradient(top, #191970, #1E90FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#191970', endColorstr='#1E90FF', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #1E90FF #1E90FF #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	z-index: 3;
}

.topbar.formation.expand {
	height: 78px;
}

.formation_info {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.formation_info li {
	float: none;
}

.main_bar {
	width: 1160px;
	height: 80px;
	float: left;
}

.next_match_info {	
	float: left;
	width: 270px;
	margin: 0px auto;	
}

.next_match_info li {
	margin-top: 8px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;    	
}

.match h3 {
	margin-top: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	text-shadow: 0 1px 2px #000000;   	
}

.next_match_info li {
	color: #1E90FF;
	list-style: none;	
}

.logo {
	background-image: url(../../assets/selecaotricolor_logo.png);	
	height: 60px;
	width: 370px;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 370px;
	position: absolute;
}

.user_actions {
	position: relative;
	color: #0000CD;
	margin-top: 12px;
	margin-right: 20px;
	float: right;
}

.topbar.formation ul {
	list-style: none;	
}

.topbar.formation li, .topbar.formation li h3, .topbar.formation li h1 {
	color: #FFF;
}

.topbar.user_info {
	left: 80%;
	width: 30px;
	z-index: 5;
}

.user_info {
	list-style: none;
	font-weight: bold;
	color: #FFF;
	position:fixed;
	left:80%;
	top:13px;
}

.dropdown-menu.user_info {
	display: none;
}

.dropdown-menu.user_info.visible {
	display: block;
	top: 0;
}

.dropdown-menu.user_info.visible li {
	width: 100%;
}

.visible {
	display: block;
}

.foobar {
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	line-height: 1;
	width: 100%;
}


.foobar.formationActions {
	background-color: #339bb9;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
	background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
	background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
	background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
	background-image: linear-gradient(top, #5bc0de, #339bb9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #339bb9 #339bb9 #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	margin: 0;
}

.btn.send {
	position:relative;
	width: 120px;
}

.formationSent {
	  position: absolute;
	  left:50%;
	  top:10%;
	  color: #404040;
	  background-color: #eedc94;
	  background-repeat: repeat-x;
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
	  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
	  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
	  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
	  background-image: linear-gradient(top, #fceec1, #eedc94);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  border-color: #eedc94 #eedc94 #e4c652;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  border-width: 1px;
	  border-style: solid;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.content {
	margin-top: 70px;
}

.fb_button {
    background-color: #3b5998;
    border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
    border-style: solid;
    border-width: 1px;    
    padding: 2px 18px;
	width: 273px;
	height: 21px;
	margin-bottom: 3px;
}

.fb_button_text {
	cursor: pointer;
	display: inline-block;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	
	color: #fff;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 18px;
	
	line-height: normal;
}

.fb_button_text a:hover {
	color: #fff;
}

.fb_ico {
	background: url("../../assets/facebook.png") no-repeat scroll -1px -47px transparent;
	display: block;
	height: 14px;
	padding: 0pt;
	width: 14px;
	position: relative;
	left: 2px;
}

.actions_buttons {
	position:relative;
	left:63%;
	top:40%;
}

.login_button {
	position:relative;
	height: 10px;
	width: 10px;
	margin: 30px;
}

.register_button {
	position:relative;
	height: 10px;
	width: 10px;
	margin: 30px;
}

.alert-message.notice {	
	position: fixed;
	width: 100%;
	height: 25px;
	top: 0;
	z-index: 6;
}

.close.notice {
	position: fixed;
	right:2%;
	top: 12px;
	cursor: pointer;
}

.new_formation_invitation {
	background-color: #ADD8E6;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ADD8E6), to(#FFF));
	background-image: -moz-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -ms-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADD8E6), color-stop(100%, #FFF));
	background-image: -webkit-linear-gradient(top, #ADD8E6, #FFF);
	background-image: -o-linear-gradient(top, #ADD8E6, #FFF);
	background-image: linear-gradient(top, #ADD8E6, #FFF);
	
	margin-top: 18px;
	padding: 17px 5px 38px 10px;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	height: 8px;
}

.hero-unit {
	background-color: #FFF;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#FFF), to(#ADD8E6));
	background-image: -moz-linear-gradient(top, #FFF, #ADD8E6);
	background-image: -ms-linear-gradient(top, #FFF, #ADD8E6);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(100%, #ADD8E6));
	background-image: -webkit-linear-gradient(top, #FFF, #ADD8E6);
	background-image: -o-linear-gradient(top, #FFF, #ADD8E6);
	background-image: linear-gradient(top, #FFF, #ADD8E6);
}

.formation_header {
	margin: 0 auto;
	text-align: center; 
}

.new_formation_invitation h2 {
	margin-left: 10px;
	margin-right: 10px;
	color: #0000CD;	
}

.new_formation_actions {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
}

.welcome {
	text-align: center;
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;    
	color: #0000CD;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.welcome h1, .welcome h2, .welcome h3 {
	color: #0000CD;
	text-shadow: 0 2px 0 #1E90FF;
}

.subtitle {
    font-size: 18px;
	color: #1E90FF;
}

.welcome p, .welcome h1, .welcome h2, .welcome h3, .welcome span {
	margin-left: 10px;
	margin-right: 10px;
}

.content-area {
	color: #0000CD;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.content-area li {
	color: #0000FF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.content-area.right {
	margin-left: 570px;
}

.content-area.left {
	margin-right: 390px;
	margin-top: -380px;
}

.menu.formation {
	margin-right: 390px;
	margin-top: -180px;
}

.table_holders {
	width: 170px;
	margin-top: 50px;
}

.hero-unit.show {
	float: left;
	width: 800px;
	padding-top: 10px;
}

[class*="show"] {
  float: left;

}

#call-up.show {
	margin-right: 30px;
	color: #0000CD;
}

#soccerField.show {
	position: relative;
	width: 358px;
	height: 509px;
	margin: 0 auto;
}

#creator-info.show {
	width: 227px;
}

#creator-info.show ul li {
	color: #CD0000;	
}

#creator-info.show ul {
	list-style: none;	
}

#emptySlot.show {
	
}

.facebook_plugins {
	position: relative;
	margin-top: 15px;
}

.facebook_plugins.share {
	position: relative;
	bottom: 100px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

.facebook_plugins.comment {
	position: relative;
	float: right;
	margin: 0px 0 0 304px;
	width: 100%;
}

.fb_share {
	margin-left: 5px;
}

#forwards, #midfield, #midfield_defense, #left_back, #defender, #right_back, #goalkeepers {
	position: relative;
	float: left;
	width: 444px;
}

.share {
	position: relative;
	float: left;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.share.facebook {
	width: 121px;
	height: 25px;
}

.share.twitter {
	width: 121px;
	height: 25px;
}

.share.google_plus {

}

.ads {
}

.ads_left {
	position: absolute;
	left: 7px;
	top: 72px;
}

.ads_right {
	position: absolute;
	right: 7px;
	top: 72px;
}

.title h1, .title h2, .title h3 {
	color: #CD0000;
}

.facebookLogin div {background-position: right -75px;}
.facebookLogin:hover div {background-position: right -100px;}
.facebookLogin:active div {background-position: right -125px;}
.facebookLogin div span {background-position: 0 -75px; color: #fff !important;}
.facebookLogin:hover div span {background-position: 0 -100px;}
.facebookLogin:active div span {background-position: 0 -125px;}

.jogo {
	position: relative;
	margin: 0 auto;
	width: 268px;
	height: 93px;
	padding-left: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.time {
	width: 45px;
	height: 45px;
}

.time, .x {
	float: left;
	color: #FFF;
	text-shadow: 0 1px 1px #F6F6F6;
}

.x {
	margin-bottom: 23px;
	margin-top: 23px;
	margin-left: 20px;
	margin-right: 20px;
}

.team-home-name, .team-away-name {
	float: left;
	text-align: center;
}

.x, .team-home-name, .team-away-name {
	color: #0000CD;
	text-shadow: 0 1px 1px #F6F6F6;
}

.team-home-name {
	margin-left: 0px;
	margin-right: 6px;
}

.team-away-name {
	margin-left: 6px;
	margin-right: 20px;
}

.match {
	margin: 0 auto;
	margin-left: 30px;
	float: left;
}

.match h3 {
	color: #0000CD;
	margin-right: 35px;
}