<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar sua senha, e você pode fazer isso através do link abaixo:</p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você quem pediu isso, por favor, ignore este e-mail.</p>
<p>A sua senha não mudará até que você acessar o link acima e criar um novo.</p>
